{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "compact": false,
  "plugins": [
    "transform-runtime",
    [
      "transform-async-to-module-method", {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}
